@use '../abstracts/mixins' as *;

.editor-styles-wrapper .is-style-primary,
.is-style-primary {
  .wp-element-button {
    background-color: var(--wp--preset--color--purple-dark);
    color: var(--wp--preset--color--white);
    display: flex;
    align-items: center;
    font-size: var(--wp--preset--font-size--only-16);
    line-height: 0.994;
    min-height: 48px;
    padding: 11px 22px 11px 22px;
    border-radius: 80px;
    gap: 8px;

    svg {
      @include box(14px);

      path {
        fill: currentColor;
      }
    }
  }
}
