@use '../abstracts/mixins' as *;

.footer {
  &__navigations {
    @include not-desktop {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      gap: 48px;
    }
  }

  &__wrapper {
    @include not-desktop {
      padding-bottom: 64px;
    }
  }

  &__logo-wrapper {
    @include not-desktop {
      padding-bottom: 24px;
      width: 100%;
      align-items: center;

      p {
        position: absolute;
        bottom: 0;
      }
    }
  }

  .navigation-block {
    position: relative;

    @include desktop-only {
      padding: 0 82.5px;

      &:first-of-type::before {
        content: '';
        background-color: #d3e0ff;
        height: 100%;
        width: 1px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:last-of-type::before {
        content: '';
        background-color: #d3e0ff;
        height: 100%;
        width: 1px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:last-of-type::after {
        content: '';
        background-color: #d3e0ff;
        height: 100%;
        width: 1px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &__title {
      color: var(--wp--preset--color--granat);
      line-height: 1.5;
      font-size: var(--wp--preset--font-size--only-14);
      font-weight: 500;
    }

    &__nav-elements {
      margin-top: 12px;
      margin-bottom: unset;
      padding: unset;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .menu-item a {
        font-size: var(--wp--preset--font-size--only-16);
        color: var(--wp--preset--color--granat);
        font-weight: 400;
        line-height: 1.52;
        text-decoration: none;
      }
    }
  }

  .website-logo {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;

      svg {
        max-width: 176px;
        height: 36px;

        @include desktop-only {
          max-width: 146px;
          height: 30px;
        }
      }
    }
  }
}
